@use '@angular/material' as mat;
@include mat.core();
$dark-theme: mat.define-theme((
  color:(
    theme-type:dark,
    primary: mat.$blue-palette,
  ),
));

$light-theme: mat.define-theme((
color: (
  theme-type:light,
  primary: mat.$yellow-palette,
),
));


body.dark-mode{
  @include mat.all-component-colors($dark-theme);
}
.mat-sidenav{
  border-right: 2px solid #dadae1;
}

html, body, .wrapper { height: 100vh; }
body { 
  @include mat.all-component-themes($light-theme);
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.side-navbar{
    height: calc(100vh - 65px);
}
#mat-toolbar{
  color: red;
  position: relative;
  z-index: 3;
  border-bottom: 3px solid #eddbdbc6;
}
.mat-sidenav, .mat-sidenav-content{
  transition: all 500ms;
}