@use '@angular/material' as mat;
@include mat.core();

$dark-theme: mat.define-theme((
  color:(
    theme-type:dark,
    primary: mat.$blue-palette,
  ),
));

*{
  font-family:  "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light-theme: mat.define-theme((
color: (
  theme-type:light,
  primary: mat.$magenta-palette,
),
));


html, body.dark-mode{
  @include mat.all-component-colors($dark-theme);
}

html, body{ 
  @include mat.all-component-themes($light-theme); 
  height: 100vh;
  background-color: #FFFFFF;
}

.mat-sidenav, .mat-sidenav-content{
  transition: all 400ms;
}