@use '@angular/material' as mat;
@include mat.core();

// Define custom palettes using m2-define-palette
$primary-palette: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent-palette: mat.m2-define-palette(mat.$m2-pink-palette);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

// Define dark theme
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
    use-system-variables: true,
  ),
  typography: mat.m2-define-typography-config(),
  density: 1,
));
*{
  font-family:  "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--mat-app-text-color);
}
//Define Light theme
$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
    use-system-variables: true,
  ),
));

@media (max-width: 645px){
  html{
    font-size: 14px;
  }
}
body.dark-mode{
  @include mat.all-component-colors($dark-theme);
}
:root {
  @include mat.all-component-themes($light-theme);
}

.mat-sidenav, .mat-sidenav-content{
  transition: all 400ms;
}